*{
  margin: 0;
  padding: 0;
}

body{
	font-family: "Helvetica Neue", Helvetica, Arial;
	font-weight: 100; 
	width: 1000px;
	margin: auto;
}

#main_panel{
	width: 500px;
	display: inline;
	float: left;
	margin-left: 20px;
	margin-right: 20px;
}

#comments_div {
	float: left;
	display: inline;
	width: 230px;	
}

#comment{
	display: none;
	word-wrap: break-word;
}

nav {
	float: left;
	display: inline;
	margin-top: 50px;
	width: 230px;
}

nav ul {
	list-style: none;
	vertical-align: middle;
}

nav ul li{
	margin-bottom: 10px;
	height: 20px;	
}

nav ul li a{
	text-decoration: none;
	color: inherit;
	font-size: 20px;	
}

h1{
	font-size: 45px;
	font-weight: 100;
	text-align: center;
	margin:20px 20px 40px 20px
}

#newSongForm{
	float: left;
	font-size: 20px;
	margin: 50px;
	display: none;
}

#newSongForm input{
	font-size: 20px;
	width: 400px;
	font-family: "Helvetica Neue";
	font-weight: 100;
	
}
#newSongForm button{

	font-size: 20px;
	width: 100px;
	font-family: "Helvetica Neue";
	font-weight: 100;
	border:0px solid transparent;
	background: transparent;
	cursor: pointer;
}

#cancel_button{
	margin: 20px 0px 0px 90px;
}

#submit_button{
	margin: 20px 0px 0px 20px;
}

#content{

	
}


#illustration{
  width: 500px;
  height: 500px;
  margin: auto;
  background: url('http://lorempixel.com/500/500/abstract/');
  
  background-repeat: no-repeat;
  background-position: center center;
  
  cursor: pointer;
  
  /*
  If do not want to always be squared
  background-size: contain;
  */
}

#time{
  width: 500px;
  height: 20px;
  margin: auto; 
  text-align: right;
}

#player {
  position: relative;
  width: 500px;
  height: 50px;
  margin: auto; 
}

#waveform {
	position: absolute;
	top:0px;
	left: 50px;
	width: 450px;
	height: 50px;
	z-index: -1;
	margin: auto;
	 
}

#cursor {
  	position: absolute;
	top:0px;
	left: 50px;
	width: 450px;
	height: 50px;
	margin: auto;
}
